<template>
  <v-row style="margin-top: 8%" justify="center">
    <v-card class="mx-auto" width="274px">
      <v-toolbar flat dense>
        <v-toolbar-title>
          <span class="subheading">{{ cardTittle }}</span>
        </v-toolbar-title>
      </v-toolbar>
      <slot></slot>
    </v-card>
  </v-row>
</template>

<script>
export default {
  props: {
    cardTittle: {
      required: true,
      type: String,
      default: ""
    }
  }
};
</script>
