<template>
  <v-card class="pa-3">
    <v-row justify="center">
      <v-list>
        <v-subheader
          >Para a cor {{ wallsObject[this.wallPage].wallColor }} você precisará
          de:</v-subheader
        >
        <v-list-item-group color="primary">
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title
                v-if="
                  wallsObject[this.wallPage].gallonsQuantity.gallonExtraSmall >
                    0
                "
                >{{
                  wallsObject[this.wallPage].gallonsQuantity.gallonExtraSmall
                }}
                galões de 0.5L</v-list-item-title
              >
              <v-list-item-title
                v-if="
                  wallsObject[this.wallPage].gallonsQuantity.gallonSmall > 0
                "
                >{{
                  wallsObject[this.wallPage].gallonsQuantity.gallonSmall
                }}
                galões de 2.5L</v-list-item-title
              >
              <v-list-item-title
                v-if="
                  wallsObject[this.wallPage].gallonsQuantity.gallonMedium > 0
                "
                >{{
                  wallsObject[this.wallPage].gallonsQuantity.gallonMedium
                }}
                galões de 3.6L</v-list-item-title
              >
              <v-list-item-title
                v-if="
                  wallsObject[this.wallPage].gallonsQuantity.gallonLarge > 0
                "
                >{{
                  wallsObject[this.wallPage].gallonsQuantity.gallonLarge
                }}
                galões de 18L</v-list-item-title
              >
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-row>
  </v-card>
</template>

<script>
export default {
  props: {
    wallsObject: {
      required: true,
      default: {}
    },
    wallPage: {
      required: true,
      default: 0
    }
  }
};
</script>
