<template>
  <v-col cols="3" class="mr-4 propertyColumn">
    <v-row class="mb-5" justify="center">
      <h2>Vamos inserir os dados da sala:</h2>
    </v-row>
    <CardProps cardTittle="Cor">
      <v-color-picker
        class="mt-4"
        v-model="wallsObject[wallPage].wallColor"
        dot-size="24"
        hide-canvas
        mode="hexa"
        swatches-max-height="220"
      ></v-color-picker>
    </CardProps>

    <CardProps cardTittle="Altura da Parede">
      <v-card-text>
       
        <v-text-field
          label="Altura"
          type="number"
          :rules="rulesHeight"
          @input="calculateMaxDoorsAndWalls()"
          v-model="wallsObject[wallPage].wallHeight"
          suffix="m"
        ></v-text-field>
       
        </v-slider>
      </v-card-text>
    </CardProps>

    <CardProps cardTittle="Largura da Parede">
      <v-card-text>
        
         <v-text-field
          label="Largura"
          type="number"
          @input="calculateMaxDoorsAndWalls()"
          v-model="wallsObject[wallPage].wallWidth"
          :rules="rulesWidth"
          suffix="m"
        ></v-text-field>
      
      </v-card-text>
    </CardProps>

    <CardProps cardTittle="Quantidade de Janelas">
      <v-card-text>
        <v-row class="mb-4" justify="space-between">
          <v-col class="text-center">
            <span
              class="text-h4 font-weight-light"
              v-text="wallsObject[wallPage].windowQty"
            ></span>
            <span class="subheading font-weight-light mr-1">{{
              wallsObject[wallPage].windowQty != 1 ? "Janelas" : "Janela"
            }}</span>
          </v-col>
        </v-row>

        <v-slider
          v-model="wallsObject[wallPage].windowQty"
          track-color="grey"
          min="0"
          @change="calculateMaxDoorsAndWalls()"
          :max="maxWindows"
        >
        </v-slider>
      </v-card-text>
    </CardProps>

    <CardProps cardTittle="Quantidade de Portas">
      <v-card-text>
        <v-row class="mb-4" justify="space-between">
          <v-col class="text-center">
            <span
              class="text-h4 font-weight-light"
              v-text="wallsObject[wallPage].doorQty"
            ></span>
            <span class="subheading font-weight-light mr-1">
              {{
                wallsObject[wallPage].doorQty != 1 ? "Portas" : "Porta"
              }}</span
            >
          </v-col>
        </v-row>

        <v-slider
          v-model="wallsObject[wallPage].doorQty"
          track-color="grey"
          min="0"
          @change="calculateMaxDoorsAndWalls()"
          :max="maxDoors"
        >
        </v-slider>
      </v-card-text>
    </CardProps>
  </v-col>
</template>

<script>
import CardProps from "~/components/CardProps.vue";


const door = {
  height: 1.9,
  width: 0.8,
  area: 1.52
};

const window = {
  height: 1.2,
  width: 2.0,
  area: 2.4
};

export default {
  components: {
    CardProps,
    
  },
  data() {
    return {
      maxDoors: 0,
      maxWindows: 0,
      rulesWidth: [
         value => !!value || 'Este valor é obrigatório',
         value => value <= 15 || 'A deve ter no máximo 15 metros.',
         value => value >= 1 || 'A parede deve ter no mínimo 1 metro.',
      ],
      rulesHeight: [
         value => !!value || 'Este valor é obrigatório',
         value => value >= door.height + 0.3 || 'A altura da parede dever ser no mínimo 30 cm maior que a porta.',
         value => value <= 15 || 'A deve ter no máximo 15 metros.',
         
        
      ]
    };
  },
  props: {
    value: {
      type: Array,
      required: true,
      default: []
    },
    wallPage: {
      type: Number,
      required: true,
      default: 0
    }
  },
  computed: {
    wallsObject: {
      get() {
        return this.value;
      },
      set() {
        this.$emit("input");
      }
    }
  },
 
  methods: {
    calculateMaxDoorsAndWalls() {
      const wallArea =
        this.wallsObject[this.wallPage].wallWidth *
        this.wallsObject[this.wallPage].wallHeight;

      const windowTotalArea =
        this.wallsObject[this.wallPage].windowQty * window.area;

      const doorTotalArea = this.wallsObject[this.wallPage].doorQty * door.area;

      this.maxDoors = Math.trunc(
        (wallArea * 0.5 - doorTotalArea - windowTotalArea) / door.area
      );

      this.maxWindows = Math.trunc(
        (wallArea * 0.5 - windowTotalArea - doorTotalArea) / window.area
      );
  
      this.wallsObject[this.wallPage].wallArea = wallArea - doorTotalArea - windowTotalArea;
      
    }
  }
};
</script>

<style scoped>
.wall {
  position: relative;
}
.propertyColumn {
  float: left;
  height: 88vh;
  overflow: auto;
}
</style>
