<template>
  <v-app dark>
    <v-app-bar :clipped-left="clipped" fixed app
      ><h2>Prova Digital Republic</h2>
    </v-app-bar>
    <v-main>
      <Nuxt />
    </v-main>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      clipped: false,
      fixed: false
    };
  }
};
</script>
