<template>
  <v-row class="ma-5">
    <PropertiesComponent v-model="wallsObject" :wallPage="wallPage" />
    <v-divider vertical></v-divider>

    <v-col>
      <v-btn fab @click="changePage('previous')" :disabled="wallPage == 0"
        ><v-icon dark>
          mdi-arrow-left
        </v-icon></v-btn
      >
    </v-col>
    <v-col justify="center" cols="7">
      <v-row justify="center" class="mb-5">
        <v-btn class="mr-3" @click="addNewWall()">Adicionar Parede</v-btn>
        <v-btn class="ml-3" @click="calculatePaintPerWallSize()"
          >Calcular</v-btn
        >
      </v-row>

      <v-card
        height="90%"
        class="wall mt-5"
        :color="wallsObject[wallPage].wallColor"
      >
      </v-card>
    </v-col>

    <v-col>
      <v-btn
        fab
        @click="changePage('next')"
        :disabled="wallPage == wallsObject.length - 1"
        ><v-icon dark>
          mdi-arrow-right
        </v-icon></v-btn
      >
    </v-col>
    <v-row justify="center">
      <v-dialog width="400" height="500" v-model="paintDialog">
        <PaintQuantityDialog
          class="px-5"
          :wallsObject="wallsObject"
          :wallPage="wallPage"
        />
      </v-dialog>
      <v-dialog width="400" height="500" v-model="calculateError">
        <v-card class="pa-5">
          <h4 class="text-center">
            Você deve preencher a altura e largura corretamente:
            <br /><br />A altura da parede deve ser, no mínimo, 30 centímetros
            maior que a altura da porta.<br /><br />
            Nenhuma parede pode ter menos de 1 metro nem mais de 15 metros.
            <br /><br />
            Deve haver ao menos 1 porta.
          </h4>
        </v-card>
      </v-dialog>
    </v-row>
  </v-row>
</template>

<script>
import CardProps from "~/components/CardProps.vue";
import PropertiesComponent from "~/components/PropertiesComponent";
import PaintQuantityDialog from "~/components/PaintQuantityDialog";

const paintValues = {
  extraSmall: 0.5,
  small: 2.5,
  medium: 3.6,
  large: 18
};
const door = {
  height: 1.9,
  width: 0.8,
  area: 1.52
};

export default {
  components: {
    CardProps,
    PropertiesComponent,
    PaintQuantityDialog
  },
  mounted() {},
  data() {
    return {
      wallsObject: [
        {
          wallColor: "#FF0000FF",
          wallHeight: 1,
          wallWidth: 1,
          windowQty: 0,
          doorQty: 0,
          wallArea: 0,
          gallonsQuantity: null
        }
      ],
      rulesWidth: [
        value => !!value || "Este valor é obrigatório",
        value => value <= 15 || "A deve ter no máximo 15 metros.",
        value => value >= 1 || "A parede deve ter no mínimo 1 metro."
      ],
      paintDialog: false,
      wallPage: 0,
      gallonsQuantity: {
        gallonExtraSmall: 0,
        gallonSmall: 0,
        gallonMedium: 0,
        gallonLarge: 0
      },
      calculateError: false,
      equalWalls: true
    };
  },
  methods: {
    changePage(direction) {
      if (direction == "next") {
        this.wallPage++;
        return;
      }
      this.wallPage--;
    },
    addNewWall() {
      if (this.wallsObject.length < 4) {
        this.wallsObject.push({
          wallColor: "#FF0000FF",
          wallHeight: 1,
          wallWidth: 1,
          windowQty: 0,
          doorQty: 0,
          wallArea: 0
        });
      }
    },
    calculateTotalPaint(paintQty) {
      while (paintQty > 0) {
        if (paintQty >= paintValues.large) {
          this.gallonsQuantity.gallonLarge++;
          paintQty -= paintValues.large;
        } else if (paintQty >= paintValues.medium) {
          this.gallonsQuantity.gallonMedium++;
          paintQty -= paintValues.medium;
        } else if (paintQty >= paintValues.small) {
          this.gallonsQuantity.gallonSmall++;
          paintQty -= paintValues.small;
        } else {
          this.gallonsQuantity.gallonExtraSmall++;
          paintQty -= paintValues.extraSmall;
        }
      }

      return this.gallonsQuantity;
    },
    calculatePaintPerWallSize() {
      let paintQty = 0;

      paintQty = this.wallsObject[this.wallPage].wallArea / 5;
      this.wallsObject[
        this.wallPage
      ].gallonsQuantity = this.calculateTotalPaint(paintQty);
      if (
        (this.wallsObject[this.wallPage].wallHeight ||
          this.wallsObject[this.wallPage].wallWidth) > 15 ||
        this.wallsObject[this.wallPage].wallHeight < door.height + 0.3 ||
        this.wallsObject[this.wallPage].doorQty < 1
      ) {
        this.calculateError = true;
        return;
      }
      this.paintDialog = true;
    }
  }
};
</script>
